# cloud-init 最小配置
datasource_list: [ AliYun, NoCloud, None ]

system_info:
  default_user:
    name: alpine
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: [ wheel ]
    shell: /bin/ash
  distro: alpine

cloud_init_modules:
  - migrator
  - bootcmd
  - write-files
  - set_hostname
  - update_hostname
  - users-groups
  - ssh

cloud_config_modules:
  - runcmd

cloud_final_modules:
  - scripts-user
  - final-message
